<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.level.clock.dao.PositionDAO">
	<select id="position_list" resultType="com.level.clock.dto.PositionDTO">
		select * from oc_position
	</select>
</mapper>
